.page-title
  margin: 0 2.5rem
  text-align: center

img
  width: 2.5em
  height: 2.25em

.logo
  position: fixed
  top: 0.5em
  right: 0.5em
  z-index: 1000
  margin: 0
  padding: 0
  width: 3em
  height: 3em
  border: none
  color: transparent
  background-image: url('../assets/logo-trans-black-200.png')
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  content: ''
