.menu-button
  position: fixed
  z-index: 1000
  margin: 0
  padding: 0
  width: 2.5em
  height: 2.25em
  border: none
  text-indent: 2.5em
  font-size: 1.5em
  color: transparent
  background: transparent
  -webkit-transition: -webkit-transform 0.3s
  transition: transform 0.3s

.menu-button::before
  position: absolute
  top: 0.5em
  right: 0.5em
  bottom: 0.5em
  left: 0.5em
  background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%)
  content: ''

h1
  margin: 0 2.5rem
  text-align: center

img
  width: 2.5em
  height: 2.25em

.logo
  position: fixed
  top: 0.5em
  right: 0.5em
  z-index: 1000
  margin: 0
  padding: 0
  width: 3em
  height: 3em
  border: none
  color: transparent
  background-image: url('../assets/logo-trans-black-200.png')
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  content: ''

