.content-wrap
  -webkit-overflow-scrolling touch
  -webkit-transition -webkit-transform 0.3s
  transition transform 0.3s

.content
  position relative
  overflow-y auto
  overflow-x hidden
  &::before
    position absolute
    top 0
    left 0
    z-index 10
    width 100%
    height 100%
    background rgba(0,0,0,0.3)
    content ''
    opacity 0
    -webkit-transition opacity 0.3s, -webkit-transform 0s 0.3s
    transition opacity 0.3s, transform 0s 0.3s
    -webkit-transform translate3d(100%,0,0)
    transform translate3d(100%,0,0)

.menu-button
  position: fixed
  z-index: 1002
  margin: 0
  padding: 0
  width: 2.5em
  height: 2.25em
  border: 0 none
  text-indent: 2.5em
  text-decoration: none
  font-size: 1.5em
  color: transparent
  background: transparent
  -webkit-transition: -webkit-transform 0.3s
  transition: transform 0.3s
  &::before
    position: absolute
    top: 0.5em
    right: 0.5em
    bottom: 0.5em
    left: 0.5em
    background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%)
    content: ''
  &:hover
    opacity 0.6
  &:focus, &:visited
    border: 0 none
    text-decoration: none
    outline: none

.menu-button#open-button
  margin: -5px 0 0 -5px

.menu-button#close-button
  margin: -5px 0 0 -5px

.menu-wrap
  position absolute
  z-index 1001
  width 90%
  height 95%
  max-width: 400px
  max-height: 700px
  background #fdfdf8
  color #373a47
  background-color: steelblue
  -webkit-transform translate3d(-9999px,-9999px,0)
  transform translate3d(-9999px,-9999px,0)
  -webkit-transition -webkit-transform 0.3s
  transition transform 0.3s

.menu-header
  display inline-block
  width: 100%
  height: 10%
  line-height 42px
  font-weight 700
  img
    float left
    border-radius 50%
    margin-right 10px

.menu-items
  padding-left 3em
  overflow: auto
  height: 89%
  a
    display block
    padding: .6em 0
    border-top: 1px solid black
    background-color: steelblue
    color #900
    text-decoration: none
    font-variant: small-caps
    font-size: large
    font-weight 700
    i
      opacity 0.5
      color #c94e50
    span
      margin-left 10px

.menu-items a:hover,
.menu-items a:focus
  color #c94e50

.show-menu
  .menu-wrap
    -webkit-transform translate3d(0,0,0)
    transform translate3d(0,0,0)
  .content-wrap
    -webkit-transform translate3d(80px,80px,0)
    transform translate3d(80px,80px,0)
  .content
    &::before
      opacity 1
      -webkit-transition opacity 0.3s
      transition opacity 0.3s
      -webkit-transform translate3d(0,0,0)
      transform translate3d(0,0,0)

