html,
body,
.container,
.content-wrap
  overflow hidden
  width 100%
  height 100%

.container
  background #373a47

.content-wrap
  overflow-y scroll
  -webkit-overflow-scrolling touch
  -webkit-transition -webkit-transform 0.3s
  transition transform 0.3s

.content
  position relative
  background #b4bad2
  &::before
    position absolute
    top 0
    left 0
    z-index 10
    width 100%
    height 100%
    background rgba(0,0,0,0.3)
    content ''
    opacity 0
    -webkit-transition opacity 0.3s, -webkit-transform 0s 0.3s
    transition opacity 0.3s, transform 0s 0.3s
    -webkit-transform translate3d(100%,0,0)
    transform translate3d(100%,0,0)

.menu-button
  position fixed
  z-index 1000
  margin 1em
  padding 0
  width 2.5em
  height 2.25em
  border none
  text-indent 2.5em
  font-size 1.5em
  color transparent
  background transparent
  &::before
    position absolute
    top 0.5em
    right 0.5em
    bottom 0.5em
    left 0.5em
    background linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%)
    content ''
  &:hover
    opacity 0.6

.close-button
  width 1em
  height 1em
  position absolute
  right 1em
  top 1em
  overflow hidden
  text-indent 1em
  border none
  background transparent
  color transparent
  &::before
    -webkit-transform rotate(45deg)
    transform rotate(45deg)
  &::after
    -webkit-transform rotate(-45deg)
    transform rotate(-45deg)

.close-button::before,
.close-button::after
  content ''
  position absolute
  width 2px
  height 100%
  top 0
  left 50%
  background #b8b7ad

.menu-wrap
  position absolute
  z-index 1001
  width 320px
  height 320px
  background #fdfdf8
  color #373a47
  padding 2em
  -webkit-transform translate3d(-320px,-320px,0)
  transform translate3d(-320px,-320px,0)
  -webkit-transition -webkit-transform 0.3s
  transition transform 0.3s

.profile
  display inline-block
  line-height 42px
  margin-bottom 1em
  font-weight 700
  img
    float left
    border-radius 50%
    margin-right 10px

.icon-list
  a
    display block
    color #b8b7ad
    font-weight 700
    padding 0.8em 0.55em
    i
      opacity 0.5
      color #c94e50
    span
      margin-left 10px

.icon-list a:hover,
.icon-list a:focus
  color #c94e50

.show-menu
  .menu-wrap
    -webkit-transform translate3d(0,0,0)
    transform translate3d(0,0,0)
  .content-wrap
    -webkit-transform translate3d(80px,80px,0)
    transform translate3d(80px,80px,0)
  .content
    &::before
      opacity 1
      -webkit-transition opacity 0.3s
      transition opacity 0.3s
      -webkit-transform translate3d(0,0,0)
      transform translate3d(0,0,0)

